<!DOCTYPE html> 
<html lang = "en">
    <title> Health Status</title>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href = "../static/style.css" rel = "stylesheet">
    </head>
    <body>
        <div class = "container">
            <p class = "success1">Your health status</p> 
            <p class = "status"> {{status}} </p>
            <p class = "success2">Your Body Mass Index</p>
            <p class = "status"> {{bmi}} </p>
            <p class = "success2">Advice</p>
            <p class = "success3">Keep your weight between</p>
            <p class = "success4">{{min_weight}} kg and {{max_weight}} kg</p>
            <p class = "success3">{{adv}} {{diff}} {{kg}}</p>

        </div>
    </body>

</html>